<div class="container pl-30 pr-30">
    <h2 class="">View Bingroup Setup-Confirm</h2>
    <div class="dash-line"></div>

    <div class="shadow1 mt-5 pt-4 pb-5 pl-30 pr-30">
        <h5 class="text-color pt-2">Bingroup Definition Details</h5>
        <hr>
        <form>
            <div class="table-responsive">
                <table class="table table-borderless">

                    <tr>
                        <th scope="col">BIN Group code</th>
                        <td>415454</td>
                        <th scope="col">BIN Group Description</th>
                        <td>gdfgfd</td>
                    </tr>

                    <tr>
                        <th scope="col">BIN Group Name</th>
                        <td>dfdgd</td>
                        <th scope="col">BIN</th>
                        <td>5452542</td>
                    </tr>
                    <tr>
                        <th scope="col">BIN Group Description</th>
                        <td>gdfgfd</td>
                        <th scope="col">BIN Currency</th>
                        <td>INR</td>
                    </tr>
                    <tr>
                        <th scope="col">BIN Settlement Currency</th>
                        <td>INR</td>
                        <th scope="col">Settlement Type</th>
                        <td>SMS</td>
                    </tr>
                    <h5 class="text-color pt-2 mt-3">Bingroup Range Details</h5>
                    <tr class="br-top">
                        <th scope="col" class="">BIN Range</th>
                        <th scope="col">From</th>
                        <td>1631</td>
                        <td>5445646363</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <th scope="col">To:</th>
                        <td>1631</td>
                        <td>5445646363</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <th scope="col">Total Number Of Cards Possible</th>
                        <td>&nbsp;</td>
                        <td>5445646363</td>
                    </tr>
                    <h5 class="text-color pt-2">Transaction Currency Details</h5>
                    <tr class="br-top">
                        <th scope="col">Transaction Settlement Currencies</th>
                        <td>kjhhi hihihoi</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="col">Plastic Codes</th>
                        <td>kjhhi hihihoi</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                </table>
            </div>

        </form>
    </div>
</div>