.row label {
    font-family: Verdana;
    color: black;
    font-size: small;
}

.customClass {
    height: auto;
}

.btn-space {
    margin-right: 5px;
}

.is-invalid {
    border-color: red;
}

tbody input[type=text] {
    width: 100%;
    height: 100%;
}

.table {
    padding: 0;
    margin: 0;
}