<div class="bg">
    <div class="container">
        <h2>View Client Details</h2>
        <div class="dash-line mb-4"></div>
        <div class="row">
                <div class="col-md-12 col-sm-12 mx-auto reg">
                    <accordion [isAnimated]="true">
                        <accordion-group heading="Company Details" [isOpen]="isFirstOpen">
                            <form>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Name*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Address1*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Address2*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company City*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Country*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Code*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Pin Code*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Phone1*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Phone2*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Fax*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Email*</label>
                                            <input type="email" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company GST*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company UIN*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Website*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </accordion-group>
                        <accordion-group heading="Contact Details">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-3 col-sm-12 ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Contact Person FirstName*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Contact Person LastName*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Contact Person Email*</label>
                                            <input type="email" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Contact Person Mobile*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Contact Person EmpID*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Company Status</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Ref1</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Ref2</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Ref3</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </accordion-group>
                        <accordion-group heading="Product Details">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Product Name*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Product Currency*</label>
                                            <input type="text" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Product Limit*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12  ">
                                        <div class="form-group mb-4">
                                            <label class="select-label">Product Initial Balance*</label>
                                            <input type="number" class="form-control br" />
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-12 mb-4 text-center">
                                        <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white"
                                            value="Submit" />
                                    </div>
                                </div>
                            </form>
                        </accordion-group>
                    </accordion>
    
                </div>
    
            </div>

    </div>
</div>