<div class="bg-img">
    <div class="container pt-5">
        <div class="row pt-5 mt-5">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-sm-12 pt-5 mt-4">
                <div class="pb-5 mb-lg-5 mb-md-0 mt-4">
                    <img src="../../../assets/images/logo-new.png" alt="" class="img-fluid ">
                    <h1 class="green-color pt-3">NexGen Payment System</h1>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-sm-12">
                <div class="form-div bg-white pl-4 pr-4 pb-4 pt-3 mt-4 login-form1">
                    <form class="bg-white pl-4 pt-3 pb-3 pr-4 mt-1" [formGroup]="userForm" (ngSubmit)="submit()">
                        <h2 class="text-center text-color mb-2">Forgot Password</h2>
                        <div class="form-group mb-4">
                            <label class="select-label">User ID <span style="color: red;">*</span></label>
                            <input type="text" class="form-control br" formControlName="username" value="" [ngClass]="{ 'is-invalid': submitted && userForm.get('username').errors }" />
                            <div *ngIf="submitted && userForm.get('username').errors" class="invalid-feedback">
                                <div *ngIf="userForm.get('username').errors.required">User Id is required</div>
                            </div>
                            <p style="color:red">{{errorMessage}}</p>
                            <p style="color:green">{{successMessage}}</p>
                        </div>
                        <div class="form-group  mb-4 text-center">
                            <input type="submit" class="btn btnSubmit bg-color text-white btn-block" value="Submit" />
                        </div>
                        <div class="form-group  mb-2 text-center"> Click here to
                            <a routerLink="/" style="text-decoration-line: underline">Login </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>