<div class="container pl-30 pr-30 mb-5">
  <h2 class="">Customer Search-Call Center</h2>
  <div class="dash-line"></div>

  <div class="shadow1 mt-5 pt-4 pb-5 pl-30 pr-30">
    <h5 class="text-color pt-2">Card Information</h5>
    <hr>
    <form>
      <div class="row mb-3 mt-4">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
            <label class="form-check-label">
              Card Number
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="text" class="form-control br" />
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option2" checked>
            <label class="form-check-label">
              Customer ID
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="text" class="form-control br" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option3" checked>
            <label class="form-check-label">
              Passport No.
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="text" class="form-control br" />
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option4" checked>
            <label class="form-check-label">
              Email ID
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="email" class="form-control br" />
        </div>
      </div>
     
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option5" checked>
            <label class="form-check-label">
              Mobile
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="number" class="form-control br" />
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option6" checked>
            <label class="form-check-label">
              Select Program
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="">
            <select class="form-control br">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </div>
   
      <div class="col-md-12 text-center mt-5">
        <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white" value="Cancel" />
        <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white ml-2" value="Submit" />
      </div>
    </form>
  </div>
  <div class="mt-5">
    <h5 class="text-color pt-2">Search Details</h5>
    <hr>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover text-center">
        <thead class="thead-dark bg-color text-white">
          <tr>
            <th>Select</th>
            <th>Card No</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tr>
          <td> <input type="radio" class="form-check-input" /></td>
          <td>gvfsfuj</td>
          <td>bdvdvjsd</td>
          <td>gvs</td>
        </tr>
      </table>
    </div>
    <div class="col-md-12 text-center mt-5">
      <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white" value="Cancel" />
      <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white ml-2" value="Submit" />
    </div>
  </div>

</div>



<div class="container pl-30 pr-30">
  <h2 class="">Customer Verification & Authentication</h2>
  <div class="dash-line"></div>

  <div class="shadow1 mt-5 pt-4 pb-5 mb-5 pl-30 pr-30">
    <h5 class="text-color pt-2">Customer Authentication Questions</h5>
    <hr>
    <form>
      <div class="row mb-3 mt-4">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
            <label class="form-check-label">
              First Name
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          adffg
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option2" checked>
            <label class="form-check-label">
              Last Name
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          adasfs
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option3" checked>
            <label class="form-check-label">
              Mobile No.
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          sfsg
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option4" checked>
            <label class="form-check-label">
              Email ID
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          fsfw
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option5" checked>
            <label class="form-check-label">
              Date Of Birth
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          afsg
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" value="option6" checked>
            <label class="form-check-label">
              Address
            </label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          fhfhgfdgdds
        </div>
      </div>
    </form>


  </div>
  <h5 class="text-color pt-2">Transaction Details</h5>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="thead-dark bg-color text-white">
        <tr>
          <th>Select</th>
          <th>Txn Date</th>
          <th>Txn Name</th>
          <th>Txn Amount</th>
        </tr>
      </thead>
      <tr>
        <td><input type="radio" class="form-check-input" /></td>
        <td>gdg</td>
        <td>fdsg</td>
        <td>fdgg</td>
      </tr>

    </table>
  </div>
</div>

<div class="container pl-30 pr-30 mt-5">
  <h2 class="">Card Program Details</h2>
  <div class="dash-line"></div>

  <div class="shadow1 mt-5 pt-4 pb-5 mb-5 pl-30 pr-30">
    <div class="table-responsive mb-5">
      <table class="table table-striped table-bordered table-hover text-center">
        <thead class="thead-dark bg-color text-white">
          <tr>
            <th>Select</th>
            <th>Card Program</th>
            <th>Currency</th>
            <th>Card Number</th>
            <th>Available Balance</th>
            <th>Card Account</th>
            <th>Account Status</th>
            <th>Card Status</th>
            <th>Expiry Date</th>
            <th>Card Type</th>
          </tr>
        </thead>
        <tr>
          <td><input type="radio" class="form-check-input" /></td>
          <td>gdg</td>
          <td>fdsg</td>
          <td>fdgg</td>
          <td>gdg</td>
          <td>fdsg</td>
          <td>fdgg</td>
          <td>gdg</td>
          <td>fdsg</td>
          <td>fdgg</td>
        </tr>

      </table>
    </div>
    <h5 class="text-color pt-2">Call Center Functions</h5>
    <hr>

    <div class="row mt-4 mb-3">
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/atm-pin-req.png" />
        <a>ATM PIN Request</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/audit.png" />
        <a>Audit Trail</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/statement.jpg" />
        <a>Mini Statement</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/card-history.png" />
        <a>Card History</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/card-history.png" />
        <a>Lost Card</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/card-history.png" />
        <a>Lock/Unlock Card</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/statement.jpg" />
        <a>Card Statement</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/customer.png" />
        <a>Customer Dispute</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/atm-pin-req.png" />
        <a>Customer Details</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/statement.jpg" />
        <a>Statement Request</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/notepad.png" />
        <a>Notepad</a>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <img class="pr-2" src="assets/images/statement.jpg" />
        <a>Transaction</a>
      </div>
    </div>
    <div class="col-md-12 text-center mt-5">
      <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white" value="Cancel" />
      <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white ml-2" value="Next Customer" />
    </div>
  </div>

</div>