<div class="container pl-30 pr-30">
    <h2 class="">Reset Password</h2>
    <div class="dash-line"></div>
    <p class="text-right pt-3"><span class="red">*</span> All Fields are mandatory</p>
    <div class="shadow1 mt-4 pt-4 pb-5 pl-30 pr-30">
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 mx-auto">
            <form [formGroup]="selectUserForm" (ngSubmit)="submit()">
                <div class="row mb-3 mt-5">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="select-label">User ID <span class="red">*</span></label>
                            <!-- (input)="typed()" -->
                            <input type="text" formControlName="username" name="username" (input)="typed()" class="form-control br" [ngClass]="{ 'is-invalid': submitted && selectUserForm.get('username').errors }" />
                            <div *ngIf="submitted && selectUserForm.get('username').errors" class="invalid-feedback">
                                <div *ngIf="selectUserForm.get('username').errors.required">User ID is Required</div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="select-label">Reason For Resetting <span class="red">*</span></label>
                            <input type="text" formControlName="reason" class="form-control br" [ngClass]="{ 'is-invalid': submitted && selectUserForm.get('reason').errors }" />
                            <div *ngIf="submitted && selectUserForm.get('reason').errors" class="invalid-feedback">
                                <div *ngIf="selectUserForm.get('reason').errors.required">Reason is Required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" formControlName="tokenKey">
                <input type="hidden" formControlName="newPassword">
                <input type="hidden" formControlName="confirmPassword">

                <div class="col-md-12 text-center mt-5">
                    <input type="reset" class="btn btn1 shadow1 btnSubmit bg-color text-white" value="Reset" />
                    <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white ml-2" value="Submit" />
                </div>
            </form>
        </div>
    </div>


</div>




<div class="modal" id="success" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3 class="text-light">Success</h3>
                <button type="button" class="close" (click)="close()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>{{message}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" (click)="close()">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="error" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h3 class="text-light">Error</h3>
                <button type="button" class="close" (click)="close()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>{{message}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
            </div>
        </div>

    </div>
</div>