<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 mx-auto reg">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Company Details" [isOpen]="isFirstOpen">
                        <form>
                            <div class="row">
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company Name*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company Address1*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company Address2*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company City*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company Country*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Company Code*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Company Pin Code*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Company Phone1*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Company Phone2*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Company Fax*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="email" class="form-control br mb-4">
                                    <label>Company Email*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company GST*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Company UIN*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company Website*</label>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                    <accordion-group heading="Contact Details">
                        <form>
                            <div class="form-row">
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="text" class="form-control br mb-4">
                                        <label>Contact Person FirstName*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Contact Person LastName*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <input type="email" class="form-control br mb-4">
                                    <label>Contact Person Email*</label> 
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Contact Person Mobile*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                        <label>Contact Person EmpID*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Company Status</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Ref1</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Ref2</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Ref3</label>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                    <accordion-group heading="Product Details">
                        <form>
                            <div class="form-row">
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                    <label>Product Name*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="text" class="form-control br mb-4">
                                        <label>Product Currency*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                        <label>Product Limit*</label>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group ">
                                    <input type="number" class="form-control br mb-4">
                                    <label>Product Initial Balance*</label>
                                </div>
                                <div class="form-group  col-md-12 mb-4 text-center">
                                    <input type="submit"
                                        class="btn btn1 shadow1 btnSubmit bg-color text-white"
                                        value="Submit" />
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>

            </div>

        </div>

    </div>
</div>