<div class="container pl-30 pr-30">
    <h2 class="">Change Password</h2>
    <div class="dash-line"></div>

    <div class="shadow1 mt-5 pt-4 pb-5 pl-30 pr-30">
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 mx-auto">
            <form>
                <div class="row mb-3 mt-5">
                    <div class="col-sm-12">
                        <div class="form-group mb-4">
                            <label class="select-label">User ID <span style="color: red;">*</span> </label>
                            <input type="text" class="form-control br" />
                        </div>
                        <div class="form-group mb-4">
                            <label class="select-label">Reason For Resetting <span style="color: red;">*</span></label>
                            <input type="text" class="form-control br" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center mt-5">
                    <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white" value="Cancel" />
                    <input type="submit" class="btn btn1 shadow1 btnSubmit bg-color text-white ml-2" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>