<div class="container pl-30 pr-30">
    <h2 class="">Usage Settings - View Merchant Category-Confirm</h2>
    <div class="dash-line"></div>

    <div class="shadow1 mt-5 pt-4 pb-5 pl-30 pr-30">
        <h5 class="text-color pt-2">Merchant Category Group Details</h5>
        <hr>
        <form>
            <div class="table-responsive">
                <table class="table table-borderless">

                    <tr>
                        <th scope="col">Group code</th>
                        <td>415454</td>
                        <th scope="col">Group Name</th>
                        <td>gdfgfd</td>
                    </tr>


                    <tr>
                        <th scope="col"> Group Description</th>
                        <td>dfdgd</td>
                        <th scope="col">Network Type</th>
                        <td>Master Card</td>
                    </tr>

                </table>
            </div>

            <h5 class="text-color pt-2">Merchant Category Code Settings</h5>
            <hr>
            <div class="row mb-3 mt-4">
                <div class="col-md-4 col-sm-12">
                    <div class="">
                        <label class="font-weight-bold color-black pl-2">MCC Group</label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="pl-2">
                        <label class="font-weight-bold color-black">MCC Code</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 col-sm-12">
                    <div class="pl-2">
                        <p>hgjfgj</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="pl-2">
                        <p>hgfjfg</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>