<div class="container pl-30 pr-30">
    <h2 class="">Fees Management - View Specific Settings Confirm</h2>
    <div class="dash-line"></div>

    <div class="shadow1 mt-5 pt-4 pb-5 pl-30 pr-30">
        <h5 class="text-color pt-2">Specific Fees Group</h5>
        <hr>
        <form>
            <div class="table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <td class="font-weight-bold">Fees Code</td>
                        <td>415454</td>
                        <td class="font-weight-bold">Fees Description</td>
                        <td>gdfgfd</td>
                    </tr>
                </table>
            </div>
            <h5 class="text-color pt-2">Specific Fees Settings</h5>
            <hr>
            <div class="table-responsive mt-5">
                <table class="table table-striped table-bordered table-hover text-center">
                    <thead class="thead-dark bg-color text-white">
                        <tr>
                            <th scope="col">Transaction</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Flat %</th>
                            <th scope="col">Limit</th>
                            <th scope="col">Rule</th>
                            <th scope="col">Line Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ATM Balance Inquiry</td>
                            <td>Daily</td>
                            <td>Account</td>
                            <td>15</td>
                            <td>INR</td>
                            <td>100</td>
                            <td>2000</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </form>
    </div>
</div>