<div class="row">
        <div class="dual-list list-left col-md-5">
            <div class="well">
                <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"
                              ng-model="checked1"
                               ng-click="selectAllItem(list1, checked1)"> Todo {{getAllSelectedItems(list1).length}}/{{list1.length}}
                      </label>
                    </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text"
                                   name="SearchDualList" 
                                   ng-model="search1"
                                   class="form-control" 
                                   placeholder="search" />
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <a class="list-group-item"
                       href=""
                       data-id="{{item.id}}"
                       ng-click="item.active = !item.active"
                       ng-class="{active: item.active}"
                       ng-repeat="item in list1|filter: search1">{{item.title}}</a>
                </ul>
                <p ng-if="(list1 | filter:search1).length == 0">Sin Datos</p>
            </div>
        </div>

        <div class="list-arrows col-md-1 text-center">
            <button ng-click="moveItemToLeftList()" 
                    class="btn btn-default btn-sm move-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>

            <button ng-click="moveItemToRightList()" 
                    class="btn btn-default btn-sm move-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>

        <div class="dual-list list-right col-md-5">
            <div class="well">
               <div class="row">
                  <div class="col-md-3">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"
                              ng-model="checked2"
                               ng-click="selectAllItem(list2, checked2)"> Todo {{getAllSelectedItems(list2).length}}/{{list2.length}}
                      </label>
                    </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text"
                                   name="SearchDualList" 
                                   ng-model="search2"
                                   class="form-control" 
                                   placeholder="search" />
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <a class="list-group-item"
                       href=""
                       data-id="{{item.id}}"
                       ng-click="item.active = !item.active"
                       ng-class="{active: item.active}"
                       ng-repeat="item in list2|filter: search2">{{item.title}}</a>
                </ul>
                <p ng-if="(list2 | filter:search2).length == 0">Sin Datos</p>
            </div>
        </div>

	</div>