<div class="bg">
    <div class="container pt-5">
        <div class="row pt-5">
            <div id="parent2" class="col-md-8 col-sm-12 mx-auto mt-5 pt-5 p-5 bg-color shadow1 br-radius">
                <div class="col-md-6 offset-md-3" *ngIf="isReset">
                    <form role="form" [formGroup]="changeForm" class="bg-white p-4 shadow1 br-radius" (ngSubmit)="resetPassword()">
                        <h2 class="text-center text-color mb-4">Reset Password</h2>
                        <div class="row setup-content" id="step-3">
                            <div class="col-xs-12">
                                <div class="col-md-12 mt-4">
                                    <div class="form-group mb-4">
                                        <input type="password" class="form-control br" placeholder="New Password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && changeForm.get('newPassword').errors }" />
                                        <div *ngIf="submitted && changeForm.get('newPassword').errors" class="invalid-feedback">
                                            <div *ngIf="changeForm.get('newPassword').errors.required">Password is Requird</div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="password" class="form-control br" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && changeForm.get('confirmPassword').errors }" />
                                        <div *ngIf="submitted && changeForm.get('confirmPassword').errors" class="invalid-feedback">
                                            <div *ngIf="changeForm.get('confirmPassword').errors.required">Password is required</div>
                                            <div *ngIf="changeForm.get('confirmPassword').errors.mustMatch">Passwords must match</div>
                                        </div>
                                    </div>
                                    <input type="hidden" formControlName="tokenKey">
                                    <input type="hidden" formControlName="username">
                                    <button class="btn btn-primary shadow btnSubmit bg-color text-white btn-block" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-md-6 offset-md-3" *ngIf="isNotReset">
                    <h1>Url is expired</h1>
                </div>

            </div>
        </div>

    </div>
</div>